body{
    /* margin: 1000px; */
    padding-bottom: 20px;
}
ul{
    background-color: black;
    
}
.nav-item:hover{
    background-color: red;
    
}

.nav-link{
    color: white;
}

.row{
    padding-top: 50px;
    color: white;
    text-align: center;
    background: #000;
}
.col{
    display: flex;
    align-items: center;


}
.img-fluid-div{
    align-items: center;
    text-align: center;
    background-color: black;
}

.jumbo_container{
    background-color: black;
}


/* footer */
footer{
    background-color: black;
    text-align: center;
}

.social_media_ul{
    text-align: center;
    list-style-type: none;
    display: flex;
    text-decoration: none;

}
a{
    padding: px;
}